*.iml
.gradle
/local.properties
/.idea
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Optional — uncomment if you prefer not to commit Firebase config:
# sample/google-services.json
